<h1>Bewerk deze collectie <small>(<%= link_to 'Verwijder collectie', @collection, method: :delete, data: { confirm: "Je verwijderd collectie #{@collection.name} inclusief alle onderliggende subcollecties en de werken die zich in die collecties bevinden. Deze werken zijn niet terug te halen. Wil je doorgaan? "} %>)</small></h1>

<%= render 'form' %>

<%= link_to 'Wijzigingen niet opslaan', @collection %>