<h2>Overzicht condities</h2>
<ul>
    <% @conditions.each do |item| %>
      <li><%= link_to_edit item %> <%=item.hide? ? "(verborgen)" : ""%></li>
    <% end %>
</ul>
<%= link_to 'Nieuwe conditie', new_condition_path %>
