<% if @original_message %>
  <%= render @original_message%>
<% else %>
<h1>Nieuw algemeen bericht</h1>
<p>Stel een vraag of laat een opmerking achter. Gaat het om een specifiek werk of collectie, maak dan gebruik van de knop om een vraag te stellen of een opmerking te maken bij die collectie of dat werk. Alle berichten zijn in te zien door QKunst administratoren.</p>
<% end %>
<%= render 'form' %>
