<div id="main">
  <h1>
  Bewerk waardering
  <%if admin_user? %>
  <small>(<%= link_to 'Verwijder', [@collection, @appraisee, @appraisal], method: :delete, data: { confirm: 'Weet je zeker dat je deze waardering wilt verwijderen?' }  %>)</small>
  <% end %>
  </h1>

<%= render 'form', appraisal: @appraisal %>
<% if @appraisee.is_a? Work %>
<%= link_to 'Annuleer', new_collection_work_appraisal_path(@collection, @appraisee) %>
<% else  %>
<%= link_to 'Annuleer', new_collection_work_set_appraisal_path(@collection, @appraisee) %>
<% end %>

</div>