<div id="main">
  <h2>
  Bewerk waardering
  <%if admin_user? %>
  <small>(<%= link_to 'Verwijder', collection_work_appraisal_path(@collection, @work, @appraisal), method: :delete, data: { confirm: 'Weet je zeker dat je deze waardering wilt verwijderen?' }  %>)</small>
  <% end %>
  </h2>

<%= render 'form', appraisal: @appraisal %>

<%= link_to 'Annuleer', new_collection_work_appraisal_path(@collection, @work) %>
</div>