<h1>Overzicht beschadigingstypen</h1>
<ul>
    <% @damage_types.each do |item| %>
      <li><%= link_to_edit item %> <%=item.hide? ? "(verborgen)" : ""%></li>
    <% end %>
</ul>
<%= link_to 'Nieuw type beschadiging', new_damage_type_path %>

