<div class="row">
  <div class="large-9 medium-9 columns">
    <h2>Balanscategorieën</h2>
<ul>
    <% @balance_categories.each do |item| %>
      <li><%= link_to_edit item %> <%=item.hide? ? "(verborgen)" : ""%></li>
    <% end %>
</ul>


  </div>
  <aside class="large-3 medium-3 columns">
    <%= link_to 'Nieuwe balanscategorie', new_balance_category_path, class: 'button' if can? :create, BalanceCategory.new %>
  </aside>
</div>

