<h1>Bewerk cluster  <small>(<%= link_to 'Verwijder cluster', [@collection, @cluster], method: :delete, data: { confirm: "Weet u zeker dat u dit cluster wenst te verwijderen?"} %>)</small></h1>

<%= render 'form' %>

<%= link_to 'Annuleren', collection_cluster_path(@collection, @cluster) %>