<h2>Bewerk cluster  <small>(<%= link_to 'Verwijder cluster', [@collection, @cluster], method: :delete, data: { confirm: "Je verwijdert nu cluster #{@cluster.name}. Eventuele werken in dit cluster worden niet verwijderd, maar simpelweg uit het cluster gehaald. Wil je doorgaan?"} %>)</small></h2>

<%= render 'form' %>

<%= link_to 'Annuleren', collection_cluster_path(@collection, @cluster) %>