
<div class="row">
<div class="large-9 medium-9 columns">



<h1>Overzicht van de clusters</h1>
<p>Dit is een overzicht van clusters  in de collectie <%= link_to @collection.name, @collection %>. Nieuwe clusters kunnen gemaakt worden door werken te selecteren. Aan de onderkant van de pagina verschijnt dan de mogelijkheid om de geselecteerde werken toe te voegen aan een bestaand cluster, danwel een nieuw cluster.

<ul>
      <% @clusters.each do |cluster| %>

        <li><%= link_to cluster.name, collection_works_path(@collection, {filter: {"cluster_id"=>[cluster.id]}}) %> (<%= cluster.works.count %> werken)</li>
<% end %>
</ul>

</div>

<aside class="large-3 medium-3 columns">
<%= link_to 'Nieuw cluster maken', new_collection_cluster_path(@collection), class: :button %>
</aside>
</div>








