<h1>Herinneringen</h1>
<div class="row">
<div class="medium-9 columns">
  <%= render @reminders%>
</div>
<aside class="medium-3 columns">
<% if @collection%>
<%= link_to 'Maak een nieuwe herinnering', new_collection_reminder_path(@collection), class: :button if can?(:create, Reminder)%>
<% else %>
<%= link_to 'Maak een nieuwe standaardherinnering', new_reminder_path, class: :button if can?(:create, Reminder) %>
<% end %>
</aside>
</div>