<div class="row">
  <div class="large-9 columns">
    <h2>Import: Voorbeeld weergave</h2>
    <p>Slechts een beperkt aantal werken worden hier als voorbeeld getoont. Helaas is het niet mogelijk om de vervaardigersnamen als voorbeeld te tonen. Ziet het er goed uit dan kun je op importeren drukken, dit duurt echter enige tijd (afhankelijk van het aantal werken in het import bestand). Een import is echter altijd terug te draaien</p>
  </div>
  <aside class="large-3 columns">
    <p><%= link_to 'Importeer de werken', collection_import_collection_import_works_path(@collection,@import_collection), class: 'button', method: 'patch'%><br/><%= link_to 'Bewerk de importinstellingen', edit_collection_import_collection_path(@collection,@import_collection)%></p>
  </aside>
</div>
<%= render @works %>