<%= render works[0..@max_index] %>
<% if works.count > (@max_index + 1)%>
  <p><%= link_to "Toon alle werken", params: @cleaned_params.merge({max_index: 9999999}), class: "hide-for-print button"%><span class="show-for-print">Er wordt slechts een beperkt aantal werken getoond.</span></p>
<% end %>