<h2>Bewerk werk <small><%= link_to 'Verwijder werk', collection_work_path(@work.collection,@work), method: :delete, data: {confirm: "Weet u zeker dat u dit werk definitief wilt verwijderen?"}, class: :warn %></small></h2>

<%= render 'form' %>
<%= link_to 'Bewerken annuleren', collection_work_path(@work.collection,@work) %>