<div id="main">
<h2>Historische gegevens</h2>
<p>Ruwe gegevens zoals geïmporteerd. <% if @work.import_collection%>Dit werk is geïmporteerd op <%= I18n.l @work.import_collection.updated_at %></p><% end%>
<%= render_hash @work.old_data %>
</div>