<h1>Overzicht categoriën</h1>
<ul>
    <% @object_categories.each do |item| %>
      <li><%= link_to_edit item %> <%=item.hide? ? "(verborgen)" : ""%></li>
    <% end %>
</ul>
<%= link_to 'Nieuwe categorie', new_object_category_path %>

