<main><h1>Attributen import</h1>
<p>Importeer een CSV of XLSX bestand met attributen voor werken binnen deze collectie.</p>
<%= @simple_import_collections %>
</main>
<aside>
  <%= link_to "Nieuwe import", new_collection_simple_import_collection_path(@collection), class: [:button, :primary] %>
</aside>
