<div class="contact">
<% if contact.external? && contact.url%>
<% begin %>
<%= link_to (contact.name.present? ? "#{contact.name} (extern contact)" : "Extern contact"), contact.url %> (<%= Uitleen.configured? ? Uitleen::Customer.find(contact.url, current_user: current_user)&.name : nil%>)
<% rescue OAuthUser::Error%>
probleem bij het ophalen van gegevens)
<% end%>
<% else %>
<%= contact.name %>
<% end %>
</div>