<h2>Overzicht plaatsbaarheid-labels</h2>
<ul>
    <% @placeabilities.each do |item| %>
      <li><%= link_to item.name, item %> (<%= item.hide? ? "verborgen" : item.order%>)</li>
    <% end %>
</ul>
<%= link_to 'Nieuw plaatsbaarheid-label', new_placeability_path %>

