<h1 id="collection.name">collection.name</h2>
<p id="offline" class="alert callout"></p>
<div class="row">
  <div class="large-12 columns">
    <p>Wanneer de applicatie offline gebruikt wordt kan de collectie niet worden weergegeven</p>
    <a href="works/new" class="button" id="button.add_work">Voeg werk toe</a>
  </div>
</div>


<script type="text/javascript">
var url = document.location.toString();
var protocol = url.split("//")[0];
var host = url.split("//")[1].split("/")[0];
var path = url.split("//")[1].split("/").slice(1,1000).join("/");
var collectionId = path.match(/collections\/(\d+)/i);
collectionId = collectionId ? collectionId[1] : null;
var workId = path.match(/works\/([\da-z]+)/i);
workId = workId ? workId[1] : null;
var collections = JSON.parse(localStorage.getItem('collections'));
var collection = collections.filter(function(a){ return a["id"] == collectionId } )[0];

document.getElementById('collection.name').innerText = collection.name;
var newWorkButton = document.getElementById('button.add_work');
newWorkButton.href = "/collections/"+collectionId+"/works/new";

var offline_stored_count = (FormStore.Store.count_by_key_start(protocol+"//"+host+"/collections/"+collectionId+"/works/new"));
if (offline_stored_count > 0) {
  $('#offline').css({display: 'block'}).text("Er zijn "+offline_stored_count+" werk(en) nog niet gesynchroniseerd met de server, zodra de server terug online is worden deze opnieuw geprobeerd");
} else {
}

</script>