<h1 id="collection.name">collection.name</h2>
<p id="offline" class="alert callout"></p>
<div class="row">
  <div class="large-12 columns">
    <p>Wanneer de applicatie offline gebruikt wordt kan de collectie niet worden weergegeven</p>
    <a href="works/new" class="button" id="button.add_work">Voeg werk toe</a>
  </div>
</div>

