<h2>Voeg werk offline toe</h2>

<%= render 'works/form' %>

<script type="text/javascript">
  var url = document.location.toString();
  var path = url.split("//")[1].split("/").slice(1,1000).join("/");
  var collectionId = path.match(/collections\/(\d+)/i);
  collectionId = collectionId ? collectionId[1] : null;

  document.querySelector('form[action="/collections/-1/works"]').action = "/collections/"+collectionId+"/works";
</script>