

<h2>Instellingen</h2>
<div class="row">
  <div class="medium-9 columns">
<table>
  <thead>
    <tr>
      <th>Naam</th>
      <th>Plaats</th>
      <th>Plaatsbeschrijving</th>
    </tr>
  </thead>

  <tbody>
    <% @involvements.each do |involvement| %>
      <tr>
        <td><%= link_to involvement.name, involvement %></td>
        <td><%= involvement.place %></td>
        <td><%= involvement.place_geoname_name %></td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<aside class="medium-3 columns">
<%= link_to 'Voeg nieuwe organisatie of instelling toe', new_involvement_path, class: :button %>

  </aside>

