

<h2><%=@involvement.name%><small> (<%= link_to 'Bewerken', edit_involvement_path(@involvement) %>)</small></h2>
<dl>
  <dt>Plaats:</dt>
  <dd><%= @involvement.place %></dd>
  <dt>Plaats details:</dt>
  <dd><%= @involvement.place_geoname_name %></dd>
</dl>
