<h1>Projectfasering</h1>
<p>Projecten doorlopen meerdere fases.</p>
<%= render :partial => 'stages_graph', locals: {collection: nil, action: :link_to} %>


<%= link_to 'Nieuw fase', new_stage_path %>
