<p>Er is een nieuw bericht geplaatst binnen <%=I18n.t("application.name")%>:</p>
<%= render @message %>
<% if @message.subject_object %>
  <% if @message_object.is_a? Work %>
    <p><strong>Gerelateerd werk: </strong> <%= @message_object.name %></p>
  <% elsif @message_object.is_a? Collection %>
    <p><strong>Gerelateerde collectie: </strong> <%= @message_object.name %></p>
  <% end %>
<% end %>