<div class="row">
  <div class="large-9 medium-9 columns">

<h2>Opgeslagen rapportages</h2>

<%= render partial: 'index' %>
</div>
  <aside class="large-3 medium-3 columns">
    <%= link_to 'Maak rapportage', new_collection_custom_report_path(@collection), class: :button %>
  </aside>
</div>

