/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*= require chosen
*= require select2
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
//= require foundation_and_overrides

 */

@import 'variables';
//Qoranje: F69022
//blauw: 232EFB
.turbolinks-progress-bar {
  background-color: lighten($qkunst-orange,20) !important;
}

ul.labels {
  float: right;
  margin: 0 0.4em;
  padding: 0;
}

article {
  float: left;
  width: 100%;

  header {
    float: left;
    width: 100%;

    border-bottom: 1px solid $light-grey;
    padding: 0.5em;

  }
  div.body {
    float: left;
    width: 100%;
    padding: 0.5em;
  }
  footer {
    float: left;
    width: 100%;

    font-size: 0.825em;
    border-top: 1px solid #f0f0f0;
    background: #fafafa;
    padding: 0.5em;
    color: $qkunst-grey;
    .button {
      margin-bottom: 0;
    }
  }
}

header {
  .stocknumber {
    float: right;
    background: $qkunst-grey;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 3px;
    padding: 3px 5px;
    border-radius: 2px;
    width: auto;
  }
  p.meta {
    float: right;
    clear: right;
    font-size: 0.875em;
    color: $qkunst-grey;
    text-align: right;
  }

  h2 + h1 {
    margin-top: -0.4em;
    font-size: 3.25em;
  }
}

.actions {
  background: $background-light-grey;
  &.row {
    padding: 0.5em 0;
    border: 1px solid $lighter-grey;
    border-radius: 3px;
    a {
      line-height: 2.7em;
    }
    .button {
      line-height: inherit;
      margin-bottom: 0;
    }
  }
}

.footer {
  background-color: #eee;
  padding: 2rem 4rem;
  margin-top: 2rem;
  width: 100%;
  bottom: 0;
}


input:not([type=submit]).blurred, textarea.blurred {
  background: #00f;
  &:valid {
    background: #99DF95;
  };
  &:invalid {
    background: #f00;
  };
}

.chosen-choices li.search-field input[type="text"] {
  font-size: inherit;
}

ul.chosen-results li {
  font-size: 0.875em;
}

nav.top-bar {
  border-bottom: 1px solid $light-grey;
  font-size: 0.85em;

  li:not(.has-form), li a:not(.button) {
    line-height: $navbar-height;
    a {
      color: $black;
    }
    a.active {
      background: $qkunst-orange;
      color: #fff;
    }
  }
  h1 {
    margin: 0;
    padding: 0;
    line-height: $navbar-height;
    img {
      margin: 4px 0 4px 4px;
      padding: 0;
      height: 36px;
      vertical-align: top;
    }
  }
  .top-bar-title {
    padding: 0 1em 0 0;
  }
  #responsive-toggle {
    float: right;
    margin-right: 4px;
    margin-top: 4px;
  }
}

a {
 &:hover {
  text-decoration: underline;
 };

 &.block {
   color: inherit;
 }
 &.block:hover {
   text-decoration: none;

   color: inherit;
 }
}

aside {
  background: #eee;
  padding-top: 1em;

  .button {
    width: 100%;
  }
}

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  tbody {
    border: 0;
  }
  tbody,tr {
    width: 100%;
  }
  tr, tr:nth-of-type(2n), tr:nth-of-type(1n) {
    background: none;
    td {
      background: none;
      padding: 0.5em;
      min-width: 1em;
      &.count {
        text-align: right;
      }
    }
    th {
      border-bottom: 1px solid #ccc;
      text-align: left;
      color: $qkunst-orange;
      padding-left: 0.5em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      padding-right: 0.5em;
    }
  }
  tr.group_separator {
    height: 0.6em;
  }
  ul {
    margin-left: 1em;
    margin-bottom: 0;
  }
}

textarea {
  min-height: 10em;
}

h3 {
  width: 100%;
}
.sub-nav {
  float: left;
  width: 100%;
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
  padding-top: 1em;


  a.active {
    color: #000;
    font-weight: bold;
  }
}
nav {
  a.button {
    margin-bottom: 0;
    margin-left: .5em;
    color: #fff;
    &:hover {
      color: #fff;
    };
  }
}

input.radio_buttons {
  margin-right: 1em;
}

.button:hover {
  text-decoration: none;
}
.button.inline {
  margin-bottom: 0;
}

form.button_to {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.input .hint {
  font-size: 0.825em;
  color: #666;
  margin-top: -1.125em;
  display: block;
  margin-bottom: 1em;
}

button.inline {
  background: none transparent;
  padding: 0;
  color: inherit;
  &:focus {
    outline: dotted 1px #ccc;
  };
}

label input[type="checkbox"] {
  margin: 0 0.3em 0.4em 0;
}

#online-statuses {
  .online-status, .online-status:hover, .online-status:active {
    border-radius: 0.9em;
    margin: 1em;
    padding: 0;
    line-height: 0;
    display: none;
    width: 1em;
    height: 1em;
    overflow: hidden;

    &#online-status-offline-page-online {
      background: #f0f;
    }
    &#online-status-online {
      background: #99DF95;
    }
    &#online-status-uncertain {
      background: #ccc;
      display: block;
    }
    &#online-status-offline {
      background: #f00;
    }
  }

}

body.online {
  #online-statuses {
    #online-status-uncertain {
      display: none;
    }
    #online-status-offline {
      display: none;
    }
    #online-status-offline-page-online {
      display: none;
    }
    #online-status-online {
      display: block;
    }
  }
}
body.offline-page {
  #online-statuses {
    #online-status-uncertain {
      display: none;
    }
    #online-status-offline {
      display: block;
    }
    #online-status-offline-page-online {
      display: none;
    }
    #online-status-online {
      display: none;
    }
  }
}
body.offline-page.online {
  #online-statuses {
    #online-status-uncertain {
      display: none;
    }
    #online-status-offline {
      display: none;
    }
    #online-status-offline-page-online {
      display: block;
    }
    #online-status-online {
      display: none;
    }
  }
}

body.offline {
  #online-statuses {
    #online-status-uncertain {
      display: none;
    }
    #online-status-offline {
      display: block;
    }
    #online-status-offline-page-online {
      display: none;
    }
    #online-status-online {
      display: none;
    }
  }
}


.tabs {
  float: left;
  width: 100%;
  margin-bottom: 4em;
  border: 0;

  section {
    border-top: 1px solid #ddd ;
        border-bottom: 1px solid #ddd ;
    background: #fff;
    padding: 1em;
    float: left;
    width: 100%;
    box-sizing: border-box;
    z-index: 4;
  }
  .tab-head {

  }
  .tab-head ul, .tab-head li, ul li a {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 10;
    list-style: none;
  }
  .tab-head ul li {
    position: relative;
  }
  .tab-head ul li a {
    padding: 0.4em;
    font-size: 0.8em;
    background: #fff;
    margin-right: 1em;
    z-index: 10;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    &.selected {
      border:  1px solid #ddd;
      border-bottom: 1px #fff solid;
      background: #fff;
      text-decoration: none;
      color: #000;
      font-weight: bold;
    }
  }

}
.tabs.in-columns {
  .tab-head {
    width:25%;
    ul {
    }
    li, li a {
      width: 100%;
      display: block;
    }
    li a {
      &.selected {
        border:  1px solid #ddd;
        border-right: 1px #fff solid;
        background: #fff;
      }
    }
  }
  .panels {
    float: left;
    width: 75%;
    margin-left: -1px;
    border-left: 1px solid #ddd;
    overflow: hidden;
  }
}

.right {
  float: right;
}
.button.small {
  font-weight: 600;
}
@media screen {
  .hide-for-screen {
    display: none;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
  }
  a[href]:after {
    content: "" !important;
  }
  .cluster {
    page-break-inside: avoid;
  }
  a {
    text-decoration: none !important;
  }
  .columns.print-12, .column.print-12 {
    width: 100%;
  }
  .small-block-grid-2, .medium-block-grid-3, .large-block-grid-3{
    li {
      display: block;
      float: left;
      width: 100%;
    }
    .panel.work {
        page-break-inside: avoid;
        width: 100% !important;
      }
  }
}