@import 'variables';

.preview-a4 {
  margin: 1em;
  width: 210mm;
  border: 1px solid $light-grey;
  padding: 20mm;
  font-size: 10pt;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

aside dl {
  dt {
    font-family: "Poppins";
    font-size: 0.75em;
    margin-bottom: 0;
    margin-top: 0.3em;
  }
}