svg {
  fill: #060e57;
  stroke: #060e57;
  stroke-width: 0px;
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linecap: square;

  #Line-2-Copy {
    stroke-width: 5.6px;
  }
}

.top-bar-title {
  svg {
    width: 9em;
  }
}