ul.filtered, li.filtered {
  li {
    display: none;
    &.supermatch, &.match {
      display: list-item;
      &:before {
        content: '▼ ';

      };
      > ul {
        display: block;
        max-height: 400px;
        opacity: 1;
      }
    }
    &.match {
      font-weight: bold;
      display: list-item;
      li {
        display: list-item;
        font-weight: normal;
        &.match {
          font-weight: bold;
        }
      }
    }
  }
}

ul.collapsable {
  list-style: none;

  li > ul {
    max-height: 0;
    transition: max-height 0.5s, opacity 1s;
    opacity: 0;
    overflow: hidden;
  }
  li {
    &:before {
      content: '▶ ';
      font-size: 0.9em;
      color: grey;
      cursor: default;
      width: 2em;
      height: 2em;
      display: inline-block;
//      border: 1px solid #f00;
    };
    @media screen and (max-width: 40em) {
      &:before {
        width: 1.9em;
        height: 1.9em;
        font-size: 1.4em;
      }
    }
  }
  li:focus, li.expanded { //li:focus, li:hover,
    &:before {
      content: '▼ ';
    };
    & > ul {
      max-height: 800px;
      opacity: 1;
      transition: max-height 0.5s, opacity 0.3s;
      & > ul > li {
      }
    }
  }
  li.expanded {
    &:before {
      color: #111;
    };
  }
}