@import 'variables';

.hint {
  margin-top: -1em;
  line-height: 1;

  small {
    opacity: 0.6;
  }
  margin-bottom: 1em;
}

.button.tertiary {
  background: #eee;
  color: #777;
}
.button.primary {
  color: #fff;
  &:hover {
    color: #fff;
  };
}

fieldset {
  margin-top: 1em;
  legend {
    color: $qkunst-orange;
    font-size: 1.2em;
  }
}