@import 'variables';

.hint {
  margin-top: -1em;

  small {
    opacity: 0.6;
  }
  margin-bottom: 1em;
}

.button {
  &.tertiary {
    background: #eee;
    color: #777;
  }
  &.primary {
    color: #fff;
    &:hover {
      color: #fff;
    };
  }
}

aside .button {
  width: 100%;
}

fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid $light-grey;
  legend {
    color: $qkunst-brown;
    font-size: 1.2em;
  }
}

input.radio_buttons {
  margin-right: 1em;
}


.field_with_errors {
  .input .error {
    color: $qkunst-orange;
  }
}

fieldset.warning {
  border: 5px solid #f00;
  border-color: $qkunst-orange;
  padding: 1em;
}

.input .hint {
  font-size: 0.825em;
  color: #666;
  margin-top: -1.125em;
  display: block;
  margin-bottom: 1em;
}
.boolean.input .hint {
  margin-top: -0.5em;
  padding-left: 1.5rem;
}

.chosen-container, .select2-container {
  margin-bottom: 1rem!important;
}

