@import 'variables';

a {
  font-family: $navigation-font-family;
  font-weight: 700;
  color: $qkunst-grey;
}

aside {
  h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  label input[type="checkbox"] {
    margin: 0 0.3em 0.4em 0;
  }
}