table {
  [type="checkbox"] {
    margin-right: 0.5em;
  }
}

#locaties table {

  tr.span-6,
  tr.span-5 {
    td[colspan]:before {
      content: '▶ ';
      font-size: 0.9em;
      color: grey;
      cursor: default;
    }
  }

  tr {
    &.expanded {
      td[colspan]:before {
        color: #111;
        content: '▼ ';
      }
    }
  }
}

#report_filter_fields {
  display: none;
}

#report_filter_fields.show {
  display: block;
}