@import 'settings';
// Place all the styles related to the appraisals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  border-collapse: collapse;
  border: 0;
  width: 100%;

  td.number,
  th.number {
    text-align: right;
  }

  thead {
    th {
      font-family: $header-font-family;
      vertical-align: bottom;
    }

    th[colspan] {
      text-align: left !important;
    }
  }

  tbody {
    border: 0;
  }

  tbody,
  tr {
    width: 100%;
  }

  tr,
  tr:nth-of-type(2n),
  tr:nth-of-type(1n) {
    background: none;

    td {
      background: none;
      padding: 0.25em;
      min-width: 1em;

      &.count,
      &.number {
        text-align: right;
      }
    }

    th {
      border-bottom: 1px solid #ccc;
      text-align: left;
      color: $table-row-head-font-color;
      font-weight: $table-row-head-font-weight;
      padding-left: 0.25em;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      padding-right: 0.25em;

      &.count,
      &.number {
        text-align: right;
      }
    }
  }

  tr.group_separator {
    height: 0.6em;
  }

  ul {
    margin-left: 1em;
    margin-bottom: 0;
  }
}

.detailed_data .medium-6 table td {
  width: 50%;
}

table.non_cyclic_graph {
  border-collapse: separate;

  thead {
    background: none;
    border-bottom: 0 none;

    th {
      background: none;
      text-align: center;
      font-weight: bold;
      border-bottom: 0 none;
      padding: 0;
      color: #aaa;
    }

    tr {
      background: none;
      border-bottom: 0 none;
    }
  }

  tbody {
    td {
      background: $light-grey;

      overflow: hidden;
      padding-left: 25px;
      position: relative;
      font-family: $header-font-family;

      input[type=submit] {
        font-family: $header-font-family;
      }

      &[rowspan='3'] {
        border-top: 30px solid #fff;
        border-bottom: 30px solid #fff;
      }

      &:before,
      &:after {
        content: " ";
        display: block;
        height: 0;
        width: 2em;
        background: transparent;
        position: absolute;
        border-style: solid;
        border-color: transparent transparent transparent #fff;
        border-width: 75px 0px 75px 36px;
        top: 50%;
        margin-top: -75px;
        left: -17px;
      }

      &:after {
        border-color: #fff #fff #fff transparent;
        right: 0px;
        left: auto;
      }

      &.disabled {
        opacity: 0.2;
      }

      &.completed {
        background: $secondary-color;
        color: $white;
      }

      &.active {
        background: $primary-color;
        color: $white;

        .button_to input[type=button],
        .button_to input[type=submit] {
          color: $white;
        }
      }
    }
  }

  &.compact {
    td {
      font-size: 0.8em;
      padding-top: 0.2em;
      padding-bottom: 0.2em;

      &[rowspan='3'] {
        border-top: 15px solid #fff;
        border-bottom: 15px solid #fff;
      }
    }

  }

  .button_to input[type=submit] {
    background: transparent;
    border: 0;
    display: inline-block;
    cursor: pointer;
    color: #fff;

    &:hover {
      color: #666;

      &::after {
        content: ' ✓';
      }
    }
  }
}

table.sortable {

  thead td,
  thead th {
    &[aria-sort="descending"] {
      &::after {
        content: '▼';
      }
    }

    &[aria-sort="ascending"] {
      &::after {
        content: '▲';
      }
    }
  }
}