// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'variables';

.stocknumber {
  background: $qkunst-grey;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.2;
  margin-top: 3px;
  padding: 3px 5px;
  border-radius: 2px;
  width: auto;
}
#stocknumber-nav {
  a {
    color: $qkunst-grey;
    text-decoration: none;
    padding: 2px 2px 2px 3px;
    transition: color 0.2s;
    &:hover {
      color: lighten($qkunst-grey, 20);
    }
  }
}

.image_wrapper {
  min-height: 1em;
  &.centered {
    display: flex;
    align-items: center;
    .image {
      margin: 1em;
    }
  }
}


.work.panel {
  position: relative;
  width: 23%;

  min-width: 184px;
  float: left;
  height: 16em;
  margin: 1% 1% 2%;
  page-break-inside: avoid;
//  overflow: hidden;
  border: 0 none;

  border-top: 1px solid #ccc;
  .image {
    position: relative;
    height: 11em;
    img.show, img.nonlinked_show {
      max-height: 11em;
      margin: 0 auto;
      padding: 0;
      display: block;
    }
  }
  .work-selector {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    padding: 0.25em 0.6em;
  }
  .stocknumber {
    float: right;
    background: $qkunst-grey;
    color: #fff;
    font-size: 0.8em;
    line-height: 1.2;
    margin-top: 1px;
    padding: 1px 2px;
    width: auto;
  }
  &.external_inventory .stocknumber{
    background: #fff;
    border: 1px solid $qkunst-grey;
    color: $qkunst-grey;
  }
  h3 {
    font-size: 1rem;
    color: $qkunst-brown;
    line-height: 1;
    margin: 0.3em 0 0em 0;
  }
  h4 {
    font-size: 1rem;
    color: $qkunst-grey;
    margin: 0;
  }
  p {
    font-size: 1em;
    display: block;
    color: $qkunst-grey;
    margin:0;
    white-space: nowrap;

    line-height: 1.2;
    text-overflow: "…";   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    width: 100%;
  }
  padding: 0em;
  background: none ;
//  min-height: 12em;
}

.show-work-checkbox .work.panel .work-selector {
  display: block;
}

@media (max-width: 500px) {
  .work.panel {
    width: 100%;
  }
}

#group_sort_display {
}
.detailed, .detailed_discreet, .complete, .detailed_with_location_history, .limited, .limited_auction {
  .work.panel {
    width: 100%;
    height: auto;
    margin: 0 0 1em 0;
    .image_wrapper {
      width: 20%;
      float: left;
      border-bottom: 0;
    }
    .image {
      width: 100%;
    }
    .data {
      float: left;
      width: 80%;
      padding-left: 1em;
    }
  }
}

.limited.work.panel, .limited_auction.work.panel {
  .image_wrapper {
    width: 33%;
    float: left;
  }
  .image {
    height: 16em;
    border-bottom: 0;
    img {
      max-height: 16em;
    }
  }
  .data {
    width: 67%;
  }
}

.compact.work.panel .image_wrapper {
  height: 11em;
}

.detailed_data, .complete_data {
  table {
    width: 100%;
    float: left;
    overflow: hidden;
    margin: 1em 0 0.5em;
    border: 0;
    border-collapse: collapse;
    padding: 0;

    thead {
      .actions {
        text-align: right;
      }
      th {
        font-family: inherit;
      }
    }

    tbody, tr {
      width: 100%;
    }
    tr,tr:nth-of-type(2n),tr:nth-of-type(n) {
      background: none transparent;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      th, td{
        font-size: 0.75em;

        background: none transparent;
        padding: 1px 0;
        vertical-align: top;
        line-height:1.3;
        margin-top: -1px;
        margin-bottom: 1px;

      }
      td {
        padding-left: 2px;
      }
    }

    th {
      font-weight: normal;
      color: $qkunst-brown;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  a {
    font-weight: 300;
    color: $qkunst-dark;
  }

}

body.compact .complete_data,
body.compact .detailed_data {
  display: none;
}

body.complete div.complete_data,
body.complete div.detailed_data,
body.detailed div.detailed_data {
  display: block;
}

body.complete tr.complete_data {
  display: table-row;
}

.imageviewer {
  position: relative ;
  background: #fff;
  border-top: 1px solid #ccc;
  float: left;
  width: 100%;
  text-align: center;
  img.show {
    max-height: 50rem;
  }

  ul.thumbs {
    transition: height 2s;
    transition-delay: 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    height: 0;
    li {
      display: block;
      clear: none;
      vertical-align: middle;
      line-height: 120px;
      font-size: 12px;
      text-align: center;
      margin: 0 5px 5px 0;
      padding: 0;
      float: left;
      width: 120px;
      position: relative;
      img {
        margin: 0;
        padding: 0;
        position: inline;
      }
      form {
        input[type=submit].alert {
          position: absolute;
          top: 4px;
          right: 4px;
          color: #fff;
          border-radius: 60px;
          padding: 2px 5px;
        }
      }
      &.right {
        float: right;

      }
      .button.expanded {
        line-height: 120px;
        padding: 0;
      }
    }
  }
  &:hover {
    ul.thumbs {
      transition: height 0.5s;
      transition-delay: 0;
      height: 120px;
    }
  };
}

.touch {
  .imageviewer {
    ul.thumbs {
      position: relative;
      height: 120px;
      background: #fff;
      border-top: 1px solid #eee;
      margin-top: 5px;
      width: 100%;
    }
  }
}

.image_upload {
  .image {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 50px;
    float: left;
    clear: left;
    margin-right: 0.5em;
  }
  img {
    max-height: 50px;
    max-width: 50px;
    display: inline;
  }
  div.input.file.optional {
    float: left;
//    clear: right;
  }
}

#selected-works {
  float: left;
  p {
    text-align: left;
    padding: 0;
    margin:0 ;
    font-size: 0.75rem;
  }
  select, input {
    display: inline;
    padding: 2px;
    height: 2em;
    width: auto;
  }
  select {
    padding: 2px 1em 2px 2px;
  }
  .button-row {
    font-size: 0rem;
  }
  .button-group {
    font-size: 0rem;
    display: inline-block;
    margin-right: 0.25rem;
    margin-bottom: 0;

    button {
      margin-right: 1px;
    }
  }
  button, .button {
    margin-right: 0.25rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
  }
  label {
    display: inline;
    color: inherit;
    font-size: inherit;
  }
}

aside.filter {
  .form-actions {
    border-top: 1px solid $dark-gray;
    padding-top: 1em;
    position: sticky;
    bottom: 0em;
    background: #eee;
  }
}
