// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import 'variables';


.work.panel {
  position: relative;
  width: 23%;

  min-width: 184px;
  float: left;
  height: 16em;
  margin: 1% 1% 2%;
  page-break-inside: avoid;
//  overflow: hidden;
  border: 0 none;

  border-top: 1px solid #ccc;
  .image {
    text-align: center;
    border-bottom: 1px solid #ccc;
    height: 11em;
    img.show, img.nonlinked_show {
      max-height: 11em;
      margin: -1px 0 0 ;
      padding: 0;
      position: inline;
    }
  }
  .work-selector {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25em 0.6em;
  }
  .stocknumber {
    float: right;
    background: $qkunst-grey;
    color: #fff;
    font-size: 0.8em;
    line-height: 1.2;
    margin-top: 1px;
    padding: 1px 2px;
    width: auto;
  }
  &.external_inventory .stocknumber{
    background: #fff;
    border: 1px solid $qkunst-grey;
    color: $qkunst-grey;
  }
  h3 {
    font-size: 1rem;
    color: $qkunst-orange;
    line-height: 1;
    margin: 0;
  }
  h4 {
    font-size: 1rem;
    color: black;
    margin: 0;
  }
  p {
    font-size: 1em;
    display: block;
    color: $qkunst-grey;
    margin:0;
    white-space: nowrap;

    line-height: 1.2;
    -o-text-overflow: ellipsis;   /* Opera */
    -moz-text-overflow: ellipsis;   /* IE, Safari (WebKit) */
    text-overflow: "…";   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    width: 100%;
  }
  padding: 0em;
  background: none ;
//  min-height: 12em;
}

@media (max-width: 500px) {
  .work.panel {
    width: 100%;
  }
}

#group_sort_display {
  label {
    float: right;
    margin-left: 1em;
  }
}
.detailed .work.panel, .complete .work.panel {
  width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  .image {
    width: 20%;
    height: auto;
    min-height: 1em;
    float: left;
    border-bottom: 0;
  }
  .data {
    float: left;
    width: 80%;
    padding-left: 1em;
  }
}


.detailed_data, .complete_data {
  display: none;
  table {
    width: 100%;
    float: left;
    overflow: hidden;
    display: block;
    margin: 1em 0;
    border: 0;
    border-collapse: collapse;
    padding: 0;

    tbody, tr {
      width: 100%;
    }
    tr,tr:nth-of-type(2n),tr:nth-of-type(n) {
      background: none transparent;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      th, td{
        font-size: 0.75em;

        background: none transparent;
        padding: 1px 0;
        vertical-align: top;
        line-height:1.3;
        margin-top: -1px;
        margin-bottom: 1px;

      }
      td {
        padding-left: 2px;
      }
    }

    th {
      font-weight: normal;
      color: $qkunst-orange;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
.complete_data {
  display: none;
}

body.complete div.complete_data,
body.complete div.detailed_data,
body.detailed div.detailed_data {
  display: block;
}

body.complete tr.complete_data {
  display: table-row;
}

.imageviewer {
  position: relative ;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  float: left;
  width: 100%;
  text-align: center;
  margin: 0 0 1em 0;
  img.show {
    max-height: 50rem;
  }

  ul.thumbs {
    transition: height 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    height: 0;
    li {
      display: block;
      clear: none;
      vertical-align: middle;
      line-height: 110px;
      font-size: 12px;
      text-align: center;
      margin: 0 5px 5px 0;
      padding: 0;
      float: left;
      width: 110px;
      img {
        margin: 0;
        padding: 0;
        position: inline;
      }
    }
  }
  &:hover {
    ul.thumbs {
      transition: height 0.5s;
      height: 120px;
    }
  };
}

.touch {
  .imageviewer {
    ul.thumbs {
      position: relative;
      height: 120px;
      background: #fff;
      border-top: 1px solid #eee;
      margin-top: 5px;
      width: 100%;
    }
  }
}

.image_upload {
  .image {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
    width: 50px;
    float: left;
    clear: left;
    margin-right: 0.5em;
  }
  img {
    max-height: 50px;
    max-width: 50px;
    display: inline;
  }
  div.input.file.optional {
    float: left;
//    clear: right;
  }
}

#selected-works {
  position: fixed;
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: fixed;
  bottom: 1em;
  width: 60%;
  left: 20%;
  padding: 0.5em 0 0;
  p {
    text-align: center;
    padding: 0;
    margin:0 ;
  }
  select, input {
    display: inline;
    padding: 2px;
    height: 2em;
    width: auto;
  }
  select {
    padding: 2px 1em 2px 2px;
  }
  button {
    margin: 0 0 0 1em;
    line-height: 2em;
    font-size: 0.85em;
    padding: 1px 5px;
  }
  label {
    display: inline;
    color: inherit;
    font-size: inherit;
  }
}
