* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
.zxing-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.zxing-wrapper header{
  color: #000;
  border-bottom: 2px solid #000;
  padding: 1em;
}
.zxing-wrapper header h1 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0;
}

.zxing-canvas-container {
  max-height: calc( 480px + 2em );
  float: left;
  padding: 1em;
}
.zxing-canvas-container canvas {
  margin: 0 auto;
  display: block;
  max-width: 160px;
  max-height: 120px;
}

@media screen and (min-width: 800px) {
  .zxing-canvas-container canvas {
/*    max-width: 640px;*/
/*    max-height: 480px;*/
  }
}

.zxing-wrapper form {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.zxing-wrapper form textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  min-height: 6em;
  flex: 2;
  display: block;
}

.zxing-wrapper .actions {
  display: flex;
  flex-direction: row;
}

.zxing-wrapper input[type=submit]:hover, .zxing-wrapper input[type=submit]:focus {
  color: #fff;
  background: #000;
}