@import 'settings';

.zxing-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.zxing-canvas-container {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  max-height: calc( 480px + 2em );
  float: left;
  width: 100%;
  border: 5px solid $white;
  border-color: $white;
  transition: border-color 0.1s;
  &.active {
    border-color: $qkunst-brown;
  }
  &.active.flash {
    transition: border-color 1s;
    border-color: $qkunst-green;
  }
  text-align: center;
  button {
    margin: auto 2em;
  }
}
.zxing-canvas-container canvas {
  margin: 0 auto;
  display: block;
  width: 100%;
  background: #ccc;

}

@media screen and (max-width: 30em) {
  .zxing-wrapper {
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) {
  .zxing-canvas-container canvas {
/*    max-width: 640px;*/
/*    max-height: 480px;*/
  }
}
