<h1>Nieuwe tijdsspanne</h1>

<%= render 'form', time_span: @time_span %>

<%= link_to 'Terug', @work ? collection_work_time_spans_path(@collection, @work) : collection_time_spans_path(@collection) %>
