<p>Beste <%= @email %>,</p>

<p>U heeft zich aangemeld voor de QKunst Collectiemanagement webapplicatie. Indien u zichzelf heeft aangemeld kunt u uw account met onderstaande link bevestigen:</p>

<p><%= link_to 'Bevestig account', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Let op: wanneer u niet op de bovenstaande link drukt kunnen wij uw account niet activeren.</p>

<p>Indien u zich niet zelf heeft aangemeld, kunt u deze e-mail negeren.</p>