<p>Beste <%= @resource.email %>!</p>

<p>Iemand heeft verzocht om het wachtwoord voor <%= @resource.email %> op de QKunst collectiemanagementapplicatie te wijzigen.</p>

<p><%= link_to 'Verander het wachtwoord', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Indien u dit niet heeft verzocht, negeert u deze e-mail dan.</p>
<p>Zolang u de link hierboven niet opent en een nieuwe aanmaakt wordt uw wachtwoord niet aangepast.</p>
