         <!-- <iframe src="/?offline=offline" style="margin-left: -999px; height: 0px">
         </iframe> -->
<h1>Debugging offline</h1>
<h2>App Cache</h2>

<p>App Cache Status: <span id="appcachestatus"> </span>.</p>
<h2>Store</h2>
<p>Store count: <span id="storecount"> </span>.</p>
<h2>Online/offline</h2>
<p>Oline status: <span id="onlineoffline"> </span>.</p>
<script type="text/javascript">
var showAppCacheStatus = function() {
  $('#appcachestatus').text(FormStore.appCache.status());
  $('#storecount').text(FormStore.Store.count());
  $('#onlineoffline').text((FormStore.online ? "Online" : "Offline"));
  setTimeout(function() {showAppCacheStatus();}, 100)
}
$(document).ready(function(){
  showAppCacheStatus();

  FormStore.appCache.forceUpdate();

});
</script>
