<h2>Offline status</h2>
<p>Dit scherm geeft aan wat de status is van de offline werking.</p>
<h3>Nog niet verstuurde werken</h3>
<p>Er staan <span id="storecount"> </span> onverzonden werken in de lokale opslag</p>
<h3>Online/offline</h3>
<p>Online status: <span id="onlineoffline"> </span>.</p>
<script type="text/javascript">
  $('#storecount').text(FormStore.Store.count());
  $('#onlineoffline').text((FormStore.online ? "Online" : "Offline"));
</script>
