<h2>QKunst Collectiemanagment</h2>

<% if !current_user %>
<div>
  <p>Welkom bij QKunst Collectiemanagment.</p>
  <p>QKunst stelt organisaties in staat om hun kunstcollectie digitaal te beheren. Hiervoor is door QKunst een collectiemanagementapplicatie ontwikkeld. Deze webapplicatie maakt het mogelijk om kunstcollecties inzichtelijk te maken door de gegevens van kunstwerken uit de betreffende collectie te registreren, verwerken en beheren.</p>
  <p>Bent u benieuwd naar de mogelijkheden die digitaal beheer van uw kunstcollectie biedt neem gerust contact op met <a href="https://qkunst.nl">QKunst</a>, we vertellen u graag meer over deze dienst en over de collectiemanagementapllicatie.</p>
  <p>Onze omgang met gegevens hebben we beschreven in ons <a href="https://qkunst.nl/privacy/" target="_blank">gegevensbeleid</a>.</p>
</div>

<p><%= link_to 'Inloggen', new_user_session_path, class: [:button]%></p>



<p>U kunt QKunst volgen via <a href="https://nl-nl.facebook.com/qkunst">Facebook</a> en <a href="https://twitter.com/qkunst?lang=nl">Twitter</a></p>

<% elsif current_user.admin? %>
<p>Welkom bij QKunst Collectiemanagment. U bent ingelogd als administrator.</p>
<% elsif current_user.advisor? %>
<p>Welkom bij QKunst Collectiemanagment. U bent ingelogd als kunstadviseur. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten kunstadviseur:</p>
<ul>
<li>Kunstwerken registreren</li>
<li>Foto’s uploaden</li>
<li>Informatie over vervaardigers aanpassen</li>
<li>Clusters maken</li>
<li>Rapportages bekijken</li>
<li>Alle berichten zien voor een collectie</li>
<li>Gebruikersbeheer (beperkt)</li>

</ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>

<p><br/><br/><br/><br/><br/><small>Aanvullende vervaardigersinformatie komt veelal uit de <a href="https://rkd.nl/nl/explore/artists">RKDartists&amp;-database</a>, welke beschikbaar is gesteld onder een <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License</a>.</small></p>
<% elsif current_user.compliance? %>
<p>Welkom bij QKunst Collectiemanagment. U bent ingelogd met een compliance rol. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten compliance medewerker:</p>
<ul>
<li>Kunstwerken bekijken, filteren, tot in hetzelfde detail als een QKunst Kunstadviseur</li>
<li>Collectie eigenschappen bekijken</li>
<li>Toegangsrechten controleren van zij die toegang tot de collectie hebben</li>
<li>Downloaden gegevens</li>
<li>Uitgebreide rapportages bekijken</li>
</ul>

<p>U kunt nadrukkelijk geen gegevens bewerken of toevoegen. Omdat schermen generiek zijn opgezet kan er op sommige plekken gesuggereerd worden dat het gaat om een 'beheer-paneel', echter zijn ook hier geen mutaties te maken in de database.</p>

</ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>

<p><br/><br/><br/><br/><br/><small>Aanvullende vervaardigersinformatie komt veelal uit de <a href="https://rkd.nl/nl/explore/artists">RKDartists&amp;-database</a>, welke beschikbaar is gesteld onder een <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License</a>.</small></p>
<% elsif current_user.qkunst? %>
<p>Welkom bij QKunst Collectiemanagment. U bent ingelogd als registrator. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten registrator:</p>
<ul>
<li>Kunstwerken registreren</li>
<li>Foto’s uploaden</li>
<li>Informatie over vervaardigers aanpassen</li>
<li>Clusters maken</li>
<li>Rapportages bekijken</li>
</ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>

<p><br/><br/><br/><br/><br/><small>Aanvullende vervaardigersinformatie komt veelal uit de <a href="https://rkd.nl/nl/explore/artists">RKDartists&amp;-database</a>, welke beschikbaar is gesteld onder een <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License</a>.</small></p>
<% elsif current_user.facility_manager? %>
<p>Welkom bij QKunst Collectiemanagment. U bent ingelogd als facility management gebruiker. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten facility management gebruiker:</p>
<ul>
  <li>Toegang tot alle informatie, inclusief locatie, waardebepaling en projectfase</li>
  <li>Locatie van werken aanpassen</li>
  <li>Vragen/opmerkingen bij de kunstwerken plaatsen</li>
  <li>Foto’s van de werken downloaden</li>
  <li>Eventuele overige documentatie over de collectie downloaden</li>
  <li>Overzicht van de werken uitprinten</li>
  </ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>

<p><br/><br/><br/><br/><br/><small>Aanvullende vervaardigersinformatie komt veelal uit de <a href="https://rkd.nl/nl/explore/artists">RKDartists&amp;-database</a>, welke beschikbaar is gesteld onder een <a href="http://opendatacommons.org/licenses/odbl/">Open Data Commons Open Database License</a>.</small></p>

<% elsif current_user.read_only?%>
<p>Welkom bij QKunst Collectiemanagment. U bent ingelogd als read only gebruiker. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten read only gebruiker:</p>
<ul>
  <li>Collectie online bekijken</li>
<li>Overzicht van de werken uitprinten</li>
</ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>
<% end %>