<h1>QKunst Collectiebeheer</h1>

<% if !current_user %>
<div><p>Welkom bij QKunst Collectiebeheer. Deze web applicatie stelt u in staat om kunstwerken binnen uw collectie te bekijken en, afhankelijk van de u toegewezen rol, te beheren. </p>
</div>

<p>Rechts bovenin kunt u inloggen.</p>

<h3>Over QKunst Collectiebeheer</h3>

<p>QKunst is gespecialiseerd in het inventariseren van grote bedrijfscollecties. Om deze inventarisaties nog soepeler te laten verlopen ontwikkelden wij QKunst Collectiebeheer, een web applicatie voor collectiebeheer. Hiermee worden grote hoeveelheden informatie over een collectie toegankelijk en kunnen we uitgebreide rapportages uitdraaien. De applicatie wordt continu doorontwikkeld om de gebruiksvriendelijkheid ervan te vergroten.</p>

<h3>Over QKunst</h3>

<p>QKunst begeleidt bedrijf en overheid bij het formuleren van kunstbeleid, het inventariseren en (her)plaatsen van kunst, het ontwikkelen van kunst in opdracht en het produceren van kunstboeken. Daarbij zoeken we altijd naar een wederzijdse versterking tussen kunst en omgeving.  </p>

<p>Ons multidisciplinair team kan u bijstaan met advies en desgewenst ook productie, implementatie en beheer uit handen nemen. Zo is het gehele traject tot en met evaluatie in handen van professionals.</p>

<h3>Contact met QKunst </h3>

<p>Bent u benieuwd wat we voor u kunnen doen? Neem dan telefonisch contact met ons op zodat we een vrijblijvende afspraak kunnen maken om uw vraag goed te begrijpen. Op basis van deze kennismaking sturen we u een offerte met plan van aanpak. De offerte wordt gebaseerd op een uurtarief, niet op een percentage van aankoop of verkoop. QKunst hanteert verschillende tarieven voor advies, productie, implementatie en beheer. </p>

<p>Neem contact met ons op via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>

<p>U kunt QKunst volgen via <a href="https://nl-nl.facebook.com/qkunst">Facebook</a> en <a href="https://twitter.com/qkunst?lang=nl">Twitter</a></p>

<% elsif current_user.admin? %>
<p>Welkom bij QKunst Collectiebeheer. U bent ingelogd als administrator.</p>
<% elsif current_user.qkunst? %>
<p>Welkom bij QKunst Collectiebeheer. U bent ingelogd als registrator. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten registrator:</p>
<ul>
<li>Kunstwerken registreren</li>
<li>Foto’s uploaden</li>
<li>Informatie over vervaardigers aanpassen</li>
<li>Clusters maken</li>
<li>Rapportages bekijken</li>
</ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>
<% elsif current_user.facility_manager? %>
<p>Welkom bij QKunst Collectiebeheer. U bent ingelogd als facility management gebruiker. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten facility management gebruiker:</p>
<ul>
  <li>Toegang tot alle informatie, inclusief locatie en waardebepaling</li>
  <li>Locatie van werken aanpassen</li>
  <li>Vragen/opmerkingen bij de kunstwerken plaatsen</li>
  <li>Foto’s van de werken downloaden</li>
  <!-- <li>Overzicht van de werken downloaden (in Microsoft Excel)</li> -->
  <li>Overzicht van de werken uitprinten (in PDF)</li>
  </ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>
<% elsif current_user.read_only?%>
<p>Welkom bij QKunst Collectiebeheer. U bent ingelogd als read only gebruiker. Onder ‘collecties’ vindt u de collecties waartoe u toegang hebt.</p>

<p>Rechten read only gebruiker:</p>
<ul>
  <li>Collectie online bekijken</li>
<li>Overzicht van de werken uitprinten (in PDF)</li>
</ul>
<p>Voor vragen of opmerkingen, neem contact op met QKunst via <a href="mailto:contact@qkunst.nl">contact@qkunst.nl</a>. </p>
<% end %>