<h1>Bewerk rapportagetemplate</h1>

<%= render 'form', custom_report_template: @custom_report_template %>

<%= link_to 'Show', @custom_report_template %> |
<%= link_to 'Back', custom_report_templates_path %>
