

<h2>Rapportagetemplates</h2>

  <ul>
    <% @custom_report_templates.each do |item| %>
      <li><%= link_to item.title, item %> <%=item.hide? ? "(verborgen)" : ""%></li>
    <% end %>
  </ul>
<%= link_to 'Nieuwe template', new_custom_report_template_path %>
