<h2>Overzicht Locaties</h2>
<nav class="sub-nav bottom-nav hide-for-print" aria-label="Werk acties">
  <ul class="menu right-aligned menu--only-buttons">
    <%= link_to "Nieuwe locatie", new_collection_location_path(@collection), class: [:primary, :button] %>
</ul>
</nav>
<table>
  <thead>
    <tr><th>Locatie</th><th>Adres</th><th>Zichtbaar</th></tr>
      </thead>
  <tbody>
<% @locations.each do |location| %>
<tr>
<td><%= link_to location.name, edit_collection_location_path(@collection, location) %></td><td><address><%= simple_format location.address%></address></td><td><%=location.hide? ? "✗" : "✔︎"%>
</tr>
<% end %>
</tbody>
</table>
