<html>
  <style>
  body {
    font-family: Trebuchet, "Trebuchet MS", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #EA8830;
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }
  a {
    color: #008CBA;
    text-decoration: none;
  }
  a:hover {
    color: #0078a0;
    text-decoration: underline;
  }
  a.button {
    text-decoration: none;
    padding: 1em;
    background: #0078a0;
    margin: 0.3em;
    display: inline-block;
    color: #fff;
  }
  a.button:hover {
    background: #007095;
    text-decoration: none;
  }
  h5 {
    font-size: 1.125em;
    font-weight: normal;
  }
  article {
    border: 1px solid #ccc;
    margin: 0.5em 0 1em;
    box-shadow: 0 0 8px rgba(77,77,77,0.2);
    float: left;
    width: 100%;
  }
  article header {
    float: left;
    width: 98%;
    border-bottom: 1px solid #ccc;
    padding: 1%;
  }
  article blockquote {
    float: left;
    width: 98%;
    padding: 1%;
    margin: 0;
  }
  article footer {
    float: left;
    width: 98%;
    padding: 1%;
    border-top: 1px solid #f0f0f0;
    background: #fafafa;
    color: #7A7E80;
    font-size: 0.875em;
  }
  .right {
    float: right!important;
  }

  .label {
      display: inline-block;
      font-family: Trebuchet, "Trebuchet MS", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
      font-weight: normal;
      line-height: 1;
      margin-bottom: auto;
      position: relative;
      text-align: center;
      text-decoration: none;
      white-space: nowrap;
      padding: 0.25rem 0.5rem 0.25rem;
      font-size: 0.6875rem;
      background-color: #008CBA;
      color: #FFFFFF;
      list-style: none;
  }
  .label.qkunst {
      background: #EA8830;
  }
  .label.round {
      border-radius: 1000px;
  }
  ul.labels, ul.labels li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  </style>
  <body>
    <%= yield %>
    <p><br/><br/><small>Dit is een automatisch gegenereerd bericht door het <%= link_to 'QKunst Collectiemanagement systeem', root_url %>. Wenst u geen e-mails te ontvangen dan kunt u dat <%= link_to 'aangeven bij uw voorkeuren', edit_user_registration_url %>.</small></p>
  </body>
</html>
